<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>empList.html</title>
</head>
<body>
<div> [[ ${#lists.size(list)}	]]</div>
<div th:text="${#lists.size(list)}"></div>
	<table>
	  <tr>
	  	<th>No.</th>
	    <th>employee_id</th>
	    <th>first_name</th>
	    <th>last_name</th>
	  </tr>
	  <tr th:each="emp : ${list}">
	  	<td th:text="${empStat.count}">1</td>
	    <td th:text="${emp.employeeId}">100</td>
	    <td th:text="${emp.firstName}">scott</td>
	    <td th:text="${emp.lastName}">king</td>
	    <td th:text="${#dates.format(emp.hireDate, 'yyyy-MM')}">2022-01-01</td>
	  </tr>
 	</table>
</body>
</html>